{{define "page:title"}}Kitty{{end}}

{{define "page:meta"}}
<meta name="page" content="kitty">
{{end}}

{{define "page:main"}}
<figure>
    <img src="{{.KittyPath}}" alt="A randomly selected kitty">
</figure>
{{end}}
